 <div class="header">
        <span class="title">Amaze-admin</span><span class="icon-reorder icon-2x toggle"></span>
        <span class="navbar-right">
	    <ul class="navbar-nav">
		<li>
		 <span class="dropdown-item">
		<a href="#">
			<i class="icon-envelope-alt"></i>
			<span class="label label-success">4</span>
        </a>
        </span>
        <span class="dropdown-item">
		<a href="#">
			<i class="icon-warning-sign"></i>
			<span class="label label-warn">4</span>
        </a>
        </span>
        <span class="dropdown-item">
		<a href="www.baidu.com">
			<i class="icon-tasks"></i>
			<span class="label label-error">4</span>
        </a>
        </span>
        </li>
        </ul>
		<span class="dropdown-item-userInfo" id="userInfo"><i class="icon-user"></i>  LCore  <i class="icon-caret-down"></i></span>
        </span>
    </div>
	<div class="profile">
	  <div class="userInfo"></div>
    </div>
	<script>
	    $(function(){
			
			$(document).not($("#userInfo")).on('click',function(){
				$(".profile").css({
					position:"absolute",
					top:"51px",
					right:"10px",
					display:'none'
				});
			})
			
			$("#userInfo").on('click',function(event){
			    event.stopPropagation();
				$(".profile").css({
					position:"absolute",
					top:"51px",
					right:"10px",
					display:'block'
				});
			});
			
		});
	</script>