<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Admin</title>
  <link href="/amaze-auth/resources/easyui/themes/metro/easyui.css"/>
  <link href="/amaze-auth/resources/easyui/themes/icons/icon.css"/>
  <link rel="stylesheet" type="text/css" href="/amaze-auth/resources/css/layout.min.css">
  <link rel="stylesheet" type="text/css" href="/amaze-auth/resources/css/style.min.css">
  <link rel="stylesheet" type="text/css" href="/amaze-auth/resources/css/font-awesome.min.css">
  <script src="/amaze-auth/resources/easyui/jquery.min.js"></script>
  <script src="/amaze-auth/resources/easyui/jquery.easyui.min.js"></script>
</head>
<body>
#parse("${header_path}")
#parse("${left_path}")
#parse("${content_path}")

</body>
</html>